.image {
  width: 100%;
}

.padd_des {
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #e6ebf5;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.profile-timeline {
  float: left;
  width: calc(100% - 130px);
  position: relative;
  padding: 0;
  margin: 0 0 20px 110px;
}

.profile-timeline:before {
  content: " ";
  position: absolute;
  width: 1px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
  height: 100%;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}

.profile-timeline .bg-primary {
  background-color: #01A4A4 !important;
  color: #fff;
}

.profile-timeline .timeline-item {
  width: 50%;
  float: left;
  position: relative;
  clear: both;
  margin-bottom: 20px;
  z-index: 2
}

.profile-timeline .timeline-item.timeline-main {
  height: 40px;
  width: 50%
}

.profile-timeline .timeline-item .timeline-date {
  padding: 7px 10px;
  line-height: 20px;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 30px;
  top: 0;
  font-weight: 600;
  text-align: center;
  width: 80px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
  border: 1px solid #d4d4d4
}

.profile-timeline .timeline-item .timeline-date a {
  color: #33414e
}

.bg-info .icon {
  margin-top: 12px;
  width: 22px;
  height: 22px;
}

.profile-timeline .timeline-item .timeline-item-content {
  float: left;
  background: #F5F5F5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 95%;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .175)
}

.profile-timeline .timeline-item .timeline-item-content:after,
.profile-timeline .timeline-item .timeline-item-content:before {
  left: 95%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none
}

.profile-timeline .timeline-item .timeline-item-content:before {
  border-color: transparent;
  border-left-color: #FFF;
  border-width: 3px;
  margin-top: -3px
}

.profile-timeline .timeline-item .timeline-item-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #FFF;
  border-width: 7px;
  margin-top: -7px
}

.profile-timeline .timeline-item .timeline-item-content .timeline-heading {
  width: 100%;
  float: left;
  font-size: 14px;
  padding: 10px 10px 5px;
  line-height: 30px
}

.profile-timeline .timeline-item .timeline-item-content .timeline-heading img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid #FFF;
  -moz-border-radius: 50%;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.profile-timeline .timeline-item .timeline-item-content .timeline-heading a {
  color: #33414e;
  font-weight: 600
}

.profile-timeline .timeline-item .timeline-item-content .timeline-body {
  width: 100%;
  float: left;
  padding: 10px
}

.profile-timeline .timeline-item .timeline-item-content .timeline-body.comments {
  padding: 0
}

.profile-timeline .timeline-item .timeline-item-content .timeline-footer {
  width: 100%;
  float: left;
  padding: 5px 10px;
  line-height: 20px;
  background: #FFF
}

.profile-timeline .timeline-item .timeline-item-content .timeline-footer a {
  color: #33414e;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none
}

.profile-timeline .timeline-item .timeline-item-content .timeline-footer a:hover {
  color: #29343f
}

.profile-timeline .timeline-item .timeline-item-content .timeline-footer .pull-right>a:last-child {
  margin-right: 0
}

.profile-timeline .timeline-item .timeline-item-info {
  position: absolute;
  left: 105%;
  font-size: 12px;
  padding: 7px 15px;
  line-height: 20px;
  width: 110px;
  text-align: center;
  background: #F5F5F5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
  border: 1px solid #d4d4d4;
  font-weight: 600
}

.profile-timeline .timeline-item .timeline-item-icon {
  position: absolute;
  right: -20px;
  width: 46px;
  background-color: #fff;
  height: 46px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .175);
  border: 1px solid #d4d4d4;
  line-height: 46px;
  text-align: center
}

.profile-timeline .timeline-item:last-child {
  margin-bottom: 0
}

.profile-timeline .timeline-item.timeline-item-right {
  float: right
}

.profile-timeline .timeline-item.timeline-item-right .timeline-item-info {
  left: auto;
  right: 105%
}

.profile-timeline .timeline-item.timeline-item-right .timeline-item-info:before {
  right: auto;
  left: 100%
}

.profile-timeline .timeline-item.timeline-item-right .timeline-item-content {
  float: right
}

.profile-timeline .timeline-item.timeline-item-right .timeline-item-content:after,
.profile-timeline .timeline-item.timeline-item-right .timeline-item-content:before {
  left: auto;
  right: 95%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #E6E6E6
}

.profile-timeline .timeline-item.timeline-item-right .timeline-item-icon {
  right: auto;
  left: -20px
}

.profile-timeline.timeline-right:before {
  left: -45px
}

.profile-timeline.timeline-right .timeline-item {
  width: 100%;
  padding-left: 125px
}

.profile-timeline.timeline-right .timeline-item.timeline-main {
  width: 160px;
  padding-left: 0;
  margin-left: -125px;
}

.profile-timeline.timeline-right .timeline-item .timeline-item-content {
  width: 100%
}

.profile-timeline.timeline-right .timeline-item .timeline-item-content:after,
.profile-timeline.timeline-right .timeline-item .timeline-item-content:before {
  right: auto;
  left: 108px
}

.profile-timeline.timeline-right .timeline-item .timeline-item-content:before {
  border-width: 0
}

.profile-timeline.timeline-right .timeline-item .timeline-item-info {
  left: 0;
  right: auto
}

.profile-timeline.timeline-right .timeline-item .timeline-item-icon {
  left: 55px
}
